body {
  margin: 0;
  display: flex;
}

.left-side {
  flex: 1;
  height: 100vh;
  background-image: url(/images/background-image.jpg);
  background-size: cover;
}

.background-logo {
  background-color: #00000083;
  width: 100%;
  height: 150px;
  margin-top: calc(100% * 1/3)
}

.right-side {
  flex: 2;
  height: 100vh;
}